name: CI Demo

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show files
        run: |
          echo "List project files:"
          ls -la

      - name: CI finished
        run: echo "CI pipeline ran successfully!"
